[submodule "common-docker"]
	path = common-docker
	url = https://github.com/confluentinc/common-docker.git
[submodule "schema-registry-images"]
	path = schema-registry-images
	url = https://github.com/confluentinc/schema-registry-images.git
[submodule "kafka-images"]
	path = kafka-images
	url = https://github.com/confluentinc/kafka-images.git
[submodule "kafka-rest-images"]
	path = kafka-rest-images
	url = https://github.com/confluentinc/kafka-rest-images.git
[submodule "ksql-images"]
	path = ksql-images
	url = https://github.com/confluentinc/ksql-images
