[submodule "common-docker"]
	path = common-docker
	url = https://github.com/confluentinc/common-docker.git
	branch = master
[submodule "schema-registry-images"]
	path = schema-registry-images
	url = https://github.com/confluentinc/schema-registry-images.git
	branch = master
[submodule "kafka-images"]
	path = kafka-images
	url = https://github.com/confluentinc/kafka-images.git
	branch = master
[submodule "kafka-rest-images"]
	path = kafka-rest-images
	url = https://github.com/confluentinc/kafka-rest-images.git
	branch = master
[submodule "ksql-images"]
	path = ksql-images
	url = https://github.com/confluentinc/ksql-images
	branch = master
[submodule "control-center-images"]
	path = control-center-images
	url = https://github.com/confluentinc/control-center-images.git
	branch = master
[submodule "kafka-replicator-images"]
	path = kafka-replicator-images
	url = https://github.com/confluentinc/kafka-replicator-images.git
	branch = master
